body {
    height: 100vh;
    width: 100vw;
    background-color: #cad2c5;
}

#custom-nav {
    background-color: #84a98c;
    color: #cad2c5;
    text-align: center;
}

#custom-div {
    margin: auto;
}

.custom-header {
    background-color: #84a98c;
    color: #cad2c5;
}

.custom-body {
    background-color: #52796f;
    color: #cad2c5;
}